

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


p
{
    font-family: "Avenir Next";
    font-size: 300%;
    font-weight: normal;
}

* {
    font-size: 100%;
    font-family: "Avenir Next";
}



